<%-# TODO: change this to zipped_test_data_upload_path -%>
<%= form_tag(bulk_data_upload_path, :multipart => true) do %>
  <%-# TODO: this seems like a kinda dirty, unclean solution... how should we get @problem.id in here? -%>
  <%= hidden_field_tag :problem_id, @problem.id %>
  <div class="field">
    zip file with test cases: <%= file_field_tag :test_cases_zip %> <br/>
    <%= submit_tag %>
  </div>
<% end %>
